<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.snap.project">
    <application>
        <meta-data android:name="com.snapchat.kit.sdk.clientId" android:value="e677e0dd-4b5c-47de-9718-4fde483d1cdb"/>
        <meta-data android:name="com.snapchat.kit.sdk.redirectUrl" android:value="unitytest://snap-kit/oauth2"/>
        <meta-data android:name="com.snapchat.kit.sdk.scopes" android:resource="@array/snap_connect_scopes"/>
        <provider android:authorities="${applicationId}.fileprovider"
                  android:name="androidx.core.content.FileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name="com.snapchat.kit.sdk.SnapKitActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="unitytest" android:host="snap-kit" android:pathPrefix="/oauth2"/>
            </intent-filter>
        </activity>
    </application>
</manifest>